body {
	background-image: url('./public/assets/image.png');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid black;
	border-radius: 10px;
	background: url('./public/assets/wrapperbg.png');
	cursor: move;
	user-select: none;
}

.wrapper header {
	text-align: center;
	font-size: 1.7rem;
	font-weight: 600;
	padding: 0.7%;
	border-bottom: 2px solid black;
	border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: black;
}

.wrapper p {
	padding: 3% 10%;
	text-align: justify;
	font-size: 1.5rem;
	color: black;
}

#wrapper2 {
	transform: translate(-100%, 25%);
}

#terminal {
	transform: translate(40%, -100%);
}

