body {
    background-image: url('../../public/assets/image.png');
}

.xyz {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2%;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.typewriter {
    content: "";
    overflow: hidden;
    animation: text 5s linear;
    display: inline-block;
    vertical-align: bottom;
}

@keyframes text {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.terminal , #output {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    margin-top: 1%;
    margin-bottom: 1%;

}

#input{
    background: transparent;
    outline: none;
    border:none;
    color:white;
    font-size: 1.3rem;
    position: relative;
}

#input::after {
    content: '|';
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 2px;
    animation: blinkCursor 0.4s infinite;
}

@keyframes blinkCursor {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

label[for="input"]{
    color:rgb(39, 223, 39);
    font-size: 1.3rem;
}